<%- layout('../layout/page') %>
<a href="/kelompok/add" class="btn btn-primary mb-3">Tambah</a>

<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama Kelompok</th>
      <th scope="col">Kecamatan</th>
      <th scope="col">Desa</th>
      <th scope="col">Jenis Usaha</th>
      <th scope="col">Pemilik</th>
      <th scope="col">Modal Usaha</th>
      <th scope="col">Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% var no = 1 %> <% kelompok.forEach(kel => { %>

    <tr>
      <th scope="row"><%= no++ %></th>
      <td><%= kel.nama %></td>
      <td><%= kel.kec %></td>
      <td><%= kel.desa %></td>
      <td><%= kel.usaha %></td>
      <td><%= kel.pemilik %></td>
      <td><%= kel.modal %></td>
      <td>
        <a href="kelompok/edit/<%= kel._id %> " class="btn btn-warning badge">
          Edit</a
        >
        <a
          href="kelompok/delete/<%= kel._id %>"
          onclick='return confirm("apa betul disitu yakin mau hapus")'
          class="btn btn-danger badge"
        >
          Hapus</a
        >
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
